# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env.backup
.env
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and runtime files
*.log
.coverage

# Local configuration files
.vscode/
*.swp
